DB_HOST="op://WebOfDevs.com/Database/server"
DB_DATABASE_NAME="op://WebOfDevs.com/Database/database"
DB_USER="op://WebOfDevs.com/Database/username"
DB_PASSWORD="op://WebOfDevs.com/Database/password"
DB_PORT="op://WebOfDevs.com/Database/port"
JWT_SECRET="op://WebOfDevs.com/JWT Secret/credential"

GITHUB_OAUTH_CLIENT_ID="op://WebOfDevs.com/GitHub OAuth - dev/username"
GITHUB_OAUTH_CLIENT_SECRET="op://WebOfDevs.com/GitHub OAuth - dev/credential"
GITHUB_OAUTH_REDIRECT_URI="op://WebOfDevs.com/GitHub OAuth - dev/redirect uri"
GITHUB_OCTOKIT_TOKEN="op://WebOfDevs.com/GitHub Octokit/credential"

REDIS_HOST="op://WebOfDevs.com/Redis/hostname"
REDIS_PASSWORD="op://WebOfDevs.com/Redis/credential"
REDIS_PORT="op://WebOfDevs.com/Redis/port"
REDIS_USERNAME="op://WebOfDevs.com/Redis/username"

CORS_ORIGINS="http://localhost:3000,https://localhost:3000"
ENABLE_SCHEDULED_SCRAPER="false"
